#slides {
	position:relative; 
	overflow:hidden;
}
#slides, .slides_container {
	width:940px;
	height:394px;
}
.slides_container div.slide {
	width:940px;
	height: auto; 
	display:block;
}
.slides_container div.slide img { 
	max-width:100%; 
	height: auto;
}

/* Control Nav */
.caption { 
	width:398px; 
	background: #1c1816; 
	overflow:hidden;
	position:absolute; 
	right:-270px; 
	bottom:10px;
	border-right:1px solid #000;
}

.caption div {
	position:relative;
	height:48px;
	padding: 11px 0 0 28px;
}

.caption strong {
	font-size:23px;
	line-height:28px;
	color:#FFF;
	font-weight:bold;
	display:block;
	margin-top:3px;
}

.button {
	position:absolute;
	overflow:hidden;
	top:11px;
	right:16px;
	display:inline-block; 
	background:url(../images/button-bg.png) no-repeat 0 -42px;
	font-size:14px;
	line-height:18px;
	color:#fff; 
	text-transform:uppercase;
	font-weight:bold;
	padding: 9px 12px 11px;
	height:17px;
	width:38px;
}
	
	.button:hover {background-position: 0 0px;}


.pagination {
	background: url(../images/pagination-bg.gif) repeat-x 0 0 #13110f;
	position:absolute;
	bottom:10px;
	right:0px;
	z-index:99;
	border-left:1px solid #342e2a;
	height:43px;
	padding: 16px 16px 0 13px;

}

.pagination li {
	float:left;
	padding-left:5px;
}

.pagination li:first-child {padding:0;}

.pagination li a {
	text-indent: -5000px;
	display:block;
	background:url(../images/pagination.jpg) no-repeat -29px 0;
	height:27px;
	width:24px;
}

.pagination li a:hover, .pagination li.current a {background-position: 0 0;}



@media only screen and (min-width: 768px) and (max-width: 959px) {
	.slides_container div.slide, #slides,.slides_container {width: 748px !important;height:314px;}
	.next,.prev{bottom:55px;}
}

@media only screen and (max-width: 767px) {
	.slides_container div.slide, #slides,.slides_container {width: 300px;height:160px;}
	.pagination {padding-left:90px;padding-top:4px;bottom:0px !important; left:0px !important;height:30px;}
	.caption{display:none;}
	.next,.prev{bottom:10px;}
	.next{right:10px;}
	.prev{right:76px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pagination {padding-left:147px;padding-top:8px;height:35px;}
	.slides_container div.slide, #slides,.slides_container {width: 420px;height:219px;}
}