@import"skeleton.css";
@import"menu-style.css";
@import"slider.css";

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;height:100%;}

body { 	 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:21px;
	color:#a59d9b;
	min-width:310px;
	background:url(../images/body-bg.jpg) repeat center top;
}

a {color:#a59d9b; outline:none;}
a:hover {color:#FFF; text-decoration:none;}

.col-1, .col-2, .col-4 {float:left;}

.col-1 {width:273px;}
.col-2 {width:173px;}
.col-3 {width:671px;}
.col-4 {width:160px;}

.wrapper {width:100%; overflow:hidden;position:relative;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:18px;}
.p0 {margin-bottom:0px !important;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}
.bl {display:block;}
.bo {font-weight:bold;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

.index-1 {z-index:1; position:relative;}
.index-2 {z-index:2; position:relative;}
/*********************************boxes**********************************/
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:25px;}
.indent-bot3 {margin-bottom:35px;}
.indent-bot4 {margin-bottom:45px;}

.left-pad {padding-left:30px;}
.bot-pad {padding-bottom:8px;}
.bot-pad2 {padding-bottom:20px;}
.bot-pad3 {padding-bottom:25px;}

.img-style {float:left; margin: 0px 20px 0 0;}
.img-style2 {float:left; margin: 5px 20px 0 0;}

.bot-indent {margin-bottom:5px;}
.bot-indent2 {margin-bottom:12px;}
.bot-indent3 {margin-bottom:32px;}

.buttons a:hover {cursor:pointer;}

.indent-r-sw {margin-right:30px;}
.indent-r2-sw {margin-right:20px;}

.img-pos img {max-width:100%; height:auto;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.button,
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
	background:url(../images/border-1.gif) repeat-x center top;
}

.row-1 {
	position:relative;
	height:81px;
	width:100%;
}

h1 {
	padding:0px 0 0 0; 
	position:absolute;
	/*top:4px;
	left:371px;*/
}
h1 a {
	display:block; 
	width:941px; 
	height:81px; 
	text-indent:-5000px; 
	background: url(../images/CornerHeader1.jpg) 0 0 no-repeat;
}

.social-buttons { float:left; display:block !important;padding: 18px 0 0 21px;}

.social-buttons li {float:left;padding-left:12px;}

.social-buttons li:first-child {padding-left:0;}

.social-buttons li a {
	display:block;
	background-image:url(../images/social-buttons.png);
	background-repeat:no-repeat;
}

.social-buttons li:first-child a {height:17px;width:17px;background-position: 0 0;}
.social-buttons li a.item-2 {height:16px;width:21px;background-position: -29px 0;}
.social-buttons li a.item-3 {height:16px;width:16px;background-position: -62px 0;}

.social-buttons li:first-child a:hover {background-position: 0 -24px;}
.social-buttons li a.item-2:hover {background-position: -29px -24px;}
.social-buttons li a.item-3:hover {background-position: -62px -24px;}
/*********************************content*************************************/
#content {
	width:100%; 
	padding:18px 0 50px;
	position:relative;
	z-index:1;
	background:url(../images/content-bg.gif) repeat-x center top #201b19;
	margin-top:0px;
}

#page1 #content {margin-top:-354px;padding:360px 0 40px;}

h3 {
	font-size:18px; 
	line-height:22px; 
	color:#fff;
	text-transform:uppercase;
}

h4 {
	font-size:13px; 
	line-height:21px; 
	color:#fff;
	text-transform:uppercase;
}

h4 a {color:#FFF;}
h4 a:hover {color:#544845;}

h5 {
	color:#fff;
	font-weight:normal;
}

h5 a {color:#FFF;text-decoration:none;}
h5 a:hover {text-decoration:underline;}

.block-left {background:url(../images/block-left.png) no-repeat left 0px;margin-left:-14px;}
.block-right {background:url(../images/block-right.png) no-repeat right 0px;margin-right:-14px;}
.block-bg {background:url(../images/block-bg.png) repeat-x 0 top;margin: 13px 14px 0 14px;padding: 31px 29px 0;}
.block-bg-plain {background:url(../images/block-bg-plain.png) repeat-x 0 top;margin: 13px 14px 0 14px;padding: 31px 29px 0;}

.border-2 {background:url(../images/border-2.gif) repeat-x 0 bottom;width:100%;}

blockquote {
	background:url(../images/quote.png) no-repeat 4px 0;
	text-indent:45px;
}

.list-1 li {
	background:url(../images/border-3.gif) repeat-x 0 bottom;
	font-size:11px; 
	line-height:14px;
	text-transform:uppercase;
	padding: 8px 0; 
}

.list-1 li.last {padding-bottom:0;background:none;}

	.list-1 li a {
		background:url(../images/marker-1.gif) no-repeat left -25px;
		display:inline-block; 
		color:#707070; 
		padding-left:10px;
		transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	}
		.list-1 li a:hover {color:#fff;background-position: left 6px;}

.list-2 li {
	background:url(../images/marker-2.gif) no-repeat 2px 6px;
	padding: 0 0 9px 16px;
	line-height:10px;
}

#page5 .list-2 li {padding-bottom:9px;}

.list-2 li.last {padding-bottom:0;}

.list-2 li a:hover {color:#FFF;}

.link:hover {text-decoration:underline;} 

.link-1 {text-decoration:none;}
.link-1:hover {color:#fff;text-decoration:underline;} 

.link-2 {text-decoration:none;font-weight:bold;}
.link-2:hover {color:#fff;} 

.link-3 {
	text-decoration:none;
	color:#FFF;
	font-style:italic;
}

.link-3:hover {text-decoration:underline;}

.text-1 {font-size:11px;line-height:14px;} 
.text-2 {line-height:18px;}

dl span {float:left; width:90px;}

.map-style iframe {
	height:244px;
	width:318px;
}


/***** Contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}			
			#contact-form label {
				display:block;
				min-height:58px;
			}
			#contact-form label.message {
				min-height:195px;
			}
			
			#contact-form input {
				padding:11px 15px 12px;
				margin:0;
				font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:18px;
				color: #FFFFFF; 
				border:1px solid #2c2622;
				background:#1b1714;
				outline:none;
				width:343px;
			}
			#contact-form .area .error { float:none;}
			#contact-form textarea {
				height:154px;
				max-height:154px;
				margin:0;
				padding:8px 15px;
				margin:0;
				font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:18px;
				color:#FFFFFF; 
				border:1px solid #2c2622;
				background:#1b1714;
				overflow:auto;
				outline:none;
				width:448px;
				max-width:448px;
			}
			#contact-form a {cursor:pointer;}
				#contact-form .success {display:none; margin-bottom:20px;color:#FFF;}
				#contact-form .error,
				#contact-form .empty {
					color:#f00;
					font-size:11px;
					line-height:2em;
					display:none;
					overflow:hidden;
				}
		.buttons-wrapper { padding:0 0px 0 0; text-align:right;}
		.buttons-wrapper a { 
			font-weight:bold;
			margin-left:20px;
			font-size:13px; 
			line-height:21px; 
			color:#fff;
			text-transform:uppercase;
			text-decoration:none;
		}
		.buttons-wrapper a:hover {color:#544845;}

/****************************aside************************/

aside {
	background: url(../images/aside-top-bg.gif) repeat-x center top #13100f;
	padding: 55px 0 42px;
	width:100%;
}


#search {position:relative;}

#search .input-bg {
	display:block;
	border: 1px solid #000;
	background:#1f1b19;
	padding: 8px 50px 5px 10px;
	height:22px;
	width:158px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow: 0px 1px 1px #242120;
}

#search input {
	background:none;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:19px;
	color:#FFF;
	position:relative;
	outline:none;
	margin:0;
	width:160px;
}

.searchbutton {
	display:block;
	position:absolute;
	cursor:pointer;
	background:url(../images/searchbutton.png) no-repeat 0 0;
	height:35px;
	width:42px;
	top:1px;
	right:1px;
}

.searchbutton:hover {background-position: 0 -38px;}

#search a {
	font-size:12px;
	line-height:15px;
}

#search a:hover {text-decoration:underline;color:#fff;}

/****************************footer************************/
footer {
	background: url(../images/footer-top-bg2.gif) repeat-x 0 top;
	width:100%;
}

#page1 footer {background-image: url(../images/footer-top-bg.gif);}

.footer-bottom {
	background: url(../images/footer-bottom-bg.gif) repeat-x 0 bottom;
	padding:48px 0 34px;
	width:100%;
}

.footer-text {
	margin: 0 10px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#1d1917;
	text-transform:uppercase;
}

.footer-text a {
	text-decoration:none;
	color:#1d1917;
}

.footer-text a:hover {text-decoration:underline;}

.headertext {font-size:26px; font-weight:bold; margin-top:36px; margin-right:0px; color:#000; float:left;}
.headertext2 {
	font-size: 26px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 0px;
	color: #000;
	float: left;
	/*width: 480px;*/
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	h1 {left:260px;}
	#page1 #content {margin-top:-290px;padding-top:290px;}
	#search input, #search .input-bg {width:110px;}
	.display-sw1 {display:none;}
	.extra-wrap {overflow:visible;}
	.col-1 {width:210px;}
	.col-2 {width:130px;}
	.col-4 {width:117px;}
	.float-sw1 {float:none;}
	.indent-sw1 {margin-bottom:20px !important;}
	.map-style iframe {width:240px;height:240px;}
	#contact-form input, #contact-form textarea {width:340px;max-width:340px;}
}
@media only screen and (max-width: 767px) {
	h1 {left:50px;}
	.indent-r-sw, .indent-r2-sw {margin-right:0;}
	.col-1, .col-2, .col-4 {float:none;}
	.col-3 {width:100%;}
	#page1 #content {margin-top:0px;padding-top:20px;}
	#page1 header {padding-bottom:20px;}
	.map-style iframe {width:242px;height:200px;}
	.indent-sw1 {margin-bottom:20px !important;}
	.indent-sw2 {margin-bottom:40px !important;}
	#search .input-bg, #search input {width:238px;}
	.float-sw4 {float:none;}
	#contact-form input, #contact-form textarea {width:209px;max-width:209px;}
	.top-pad-sw1 {padding-top:20px;}
	.top-pad-sw2 {padding-top:20px;}
	.p0 {margin-bottom:31px !important;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	h1 {left:110px;}
	.map-style iframe {width:362px;}
	.display-sw2 {display:none;}
	.width-1 {width:200px !important;}
	.width-2 {width:380px !important;}
	.indent-r2-sw {margin-right:20px;}
	.indent-r3-sw {margin-right:20px;}
	#search .input-bg, #search input {width:358px;}
	.float-sw2 {float:none;}
	.float-sw3, .float-sw4 {float:left;}
	.col-1, .col-1 img {width:362px;}
	.col-2 {width:160px;}
	.col-4 {width:147px;}
	.clear-sw1 {clear:none;}
	#contact-form input, #contact-form textarea {width:329px;max-width:329px;}
	.top-pad-sw2 {padding-top:31px;}
	.p0 {margin-bottom:0px !important;}
	

}

@media only screen and (min-width: 300px) and (max-width: 480px) {

	.crunch {width:240px;}
	.headertext {font-size:22px}
}
